{% block head %}
<!DOCTYPE html>
<html>
<head>
	<title>Note Manager</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>
<body class="container" style="padding-top: 70px;">
<header>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Note Manager</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
            <li><a href="/notes">{{ user.username }}'s notes</a></li>
            <li><a href="/note/new">New note</a></li>
            <li><a href="/signout">Logout</a></li>
          {% else %}
            <li><a href="/signin">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
</body>
</html>
{% endblock %}