{% extends 'NoteManager/base.html' %}
{% block content %}
<div class="col-xs-6">
    <legend>Edit note</legend>
    <form role="form" action="/note/{{ note.id }}/update" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" value="{{ note.title }}" name="title">
        </div>
        <div class="form-group">
            <textarea class="form-control" name="content">{{ note.content }}</textarea>
        </div>
        <div class="form-group">
            <label>Categories: </label>
            <select class="form-control" name="category">
                {% for category in categories %}
                    <option {% if category == note.category %} selected {% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input name="chosen" type="checkbox" {% if note.chosen %} checked {% endif %}name="chosen"> Избранная заметка
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Update note">
        </div>
    </form>
</div>
{% endblock %}