{% extends 'NoteManager/base.html' %}
{% block content %}
<div class="col-xs-6">
    <form role="form" action="/note/create" method="post">
        {% csrf_token %}
        <legend>Submit new note</legend>
        <div class="form-group">
            <input class="form-control" type="text" value="{% if note %}{{ note.title }}{% endif %}" name="title" placeholder="title">
        </div class="form-group">
        <div class="form-group">
            <textarea class="form-control" name="content" placeholder="Text">{% if note %}{{ note.content }}{% endif %}</textarea>
        </div class="form-group">
        <div class="form-group">
            <label>Categories: </label>
            <select class="form-control" name="category">
                {% if note %}
                    {% for category in categories %}
                        <option {% if category == note.category %} selected {% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                {% else %}
                    {% for category in categories %}
                        <option>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
        </div class="form-group">
        <div class="form-group">
            {% if note %}
                <input name="chosen" type="checkbox" {% if note.chosen %} checked {% endif %} name="chosen">Избранная заметка
            {% else %}
                <input name="chosen" type="checkbox" name="chosen"> Избранная заметка
            {% endif %}
        </div class="form-group">
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Submit note">
        </div class="form-group">
    </form>
</div>
{% endblock %}