{% extends 'NoteManager/base.html' %}
{% block content %}
<div class="row well">
<div class="col-xs-8">
<form action="/notes" method="post" id="search-form" role="form">
    {% csrf_token %}
    <p class="lead">Sort:</p>
    <div class="row">
        <div class="form-group col-md-3">
            <input type="radio" {% if sort == 'DESC' %} checked {% endif %} name="sort" value="DESC"> Sort by date (new notes first)
        </div>
        <div class="form-group col-md-3">
            <input type="radio" {% if sort == 'ASC' %} checked {% endif %} name="sort" value="ASC"> Sort by date (old notes first)
        </div>
        <div class="form-group col-md-3">
            <input type="radio" {% if sort == 'category' %} checked {% endif %} name="sort" value="category"> Sort by category
        </div>
        <div class="form-group col-md-3">
            <input type="radio" {% if sort == 'chosen' %} checked {% endif %} name="sort" value="chosen"> Chosen notes first
        </div>
    </div>
    <p class="lead">Filter:</p>
    <div class="row">
        <div class="form-group col-xs-4">
            <select class="form-control" name="category">
                <option {% if 'All categories' == category %} selected {% endif %}>All categories</option>
                {% for cat in categories %}
                    <option {% if cat.name == category %} selected {% endif %}>
                        {{ cat.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-xs-8">
            <input class="form-control" type="text" name="keyword" value="{{ keyword }}" placeholder="keyword">
        </div>
    </div>
    <div class="form-group"><input name="chosen" type="checkbox" {% if chosen %} checked {% endif %}> Show only chosen notes</div>
    <script>
        function filter(form_id, result_id, url) {
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'html',
                data: $('#' + form_id).serialize(),
                success: function(response) {
                    document.getElementById(result_id).innerHTML = response;
                },
                error: function(response) {
                    document.getElementById(result_id).innerHTML = response;
                }
            });
        }

        function delete_note(form_id, result_id, url, delete_url) {
            $.ajax({
                url: delete_url,
                type: 'post',
                dataType: 'html',
                data: $('#' + form_id).serialize(),
                success: function(response) {
                    filter(form_id, result_id, url);
                },
                error: function(response) {
                    filter(form_id, result_id, url);
                    alert('error');
                }
            });
        }
    </script>
    <a class="btn btn-success" href="/" onclick="filter('search-form', 'notes', '/ajax_notes'); return false;">Submit</a>
</form>
</div>
</div>
<h2>Notes: </h2>
<div id="notes" class="row well">
{% if notes.count > 0 %}
    {% for note in notes %}
        <p><a href="/note/{{ note.id }}">{{ note.title }}</a> <small> {{ note.created_at }}</small></p>
        <p>{{ note.content }}</p>
        <p>
            <a href="/note/{{ note.id }}/edit">Edit note</a> |
            <a href="/" onclick="delete_note('search-form', 'notes', '/ajax_notes', 'note/{{ note.id }}/ajax_delete'); return false;">Delete note</a>
        </p>
        <hr>
    {% endfor %}
{% endif %}
</div>
<script>
</script>
{% endblock %}