<!DOCTYPE html>
<html>
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<div class="col-xs-6">
	<p class="lead">{{ note.title }}</p>
	<span><i class="glyphicon glyphicon-time"></i> {{ note.created_at }}</span>
	<div class="well">{{ note.content }}</div>
	<span class="label label-success pull-left"> {{ note.category.name}}</span>
	{% if note.chosen %}
	    <span class="label label-info pull-left"><small> Избранное</small></span>
	{% endif %}
</div>
</body>
</html>