{% extends 'NoteManager/base.html' %}
{% block content %}
<div class="col-xs-4">
	<form role="form" action="/create-user/" method="post">
	    {% csrf_token %}
	    <legend>Signing up</legend>
	    <div class="form-group">
	    	<input class="form-control" id="id_username" maxlength="30" name="username" type="text">
	    </div>
		<div class="form-group">
			<input class="form-control" id="id_password1" name="password1" type="password">
		</div>
		<div class="form-group">
			<input class="form-control" id="id_password2" name="password2" type="password">
		</div>
	    <input class="btn btn-success" type="submit" value="Sign Up">
	</form>
</div>
{% endblock %}