{% extends 'NoteManager/base.html' %}
{% block content %}
{% if errors %}
    {{ errors }}
{% endif %}
<div class="col-xs-4">
	<form method="post" action="/auth" role="form">
	    {% csrf_token %}
	    <legend>Signing in</legend>
	    <div class="form-group">
	    	<input class="form-control" type="text" value="" name="username" placeholder="username">
	    </div>
	    <div class="form-group">
	    	<input class="form-control" type="password" value="" name="password" placeholder="password">
	    </div>
	    <div class="form-group">
	    	<input class="btn btn-success" type="submit" value="Sign In">
	    </div>
	</form>
</div>
{% endblock %}